
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f6ff;
  min-height: 100vh;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list {
  margin-top: 30px;
}

.user {
  background: white;
  margin: 5px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
